header {
    display: flex;
    justify-content: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.player, .computer {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    border: 1px solid rgb(165, 59, 59);
    max-width: 350px;
    min-width: 350px;
    min-height: 350px;
}
.square {
    border: 1px solid rgb(112, 107, 107);
}

.placeRandom {
    background-color: none;
    border-radius: 16px;
    padding: 10px;
    border: 3px solid brown;
}
