body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    font-size: larger;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.player, .computer {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    border: 1px solid rgb(14, 6, 124);
    max-width: 350px;
    min-width: 350px;
    min-height: 350px;
}

.square {
    border: 1px solid rgb(112, 107, 107);
    cursor: crosshair;
}

.square:hover {
    background-color: gray;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    gap: 100px;
}

button {
    background-color: #0050ec;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 2em;
    cursor: pointer;
    transition: 0.1s ease;
    border-width: 0;
    box-shadow: 1px 5px 0 0 #0e285d;
    width: fit-content;
}
  
button:hover {
    transform: translateY(-4px);
    box-shadow: 1px 9px 0 0 #0e285d;
}
  
button:active {
    transform: translateY(4px);
    box-shadow: 0px 0px 0 0 #0e285d;
}

.start {
    display: none;
}

.reset {
    display: none;
}
